*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    padding-right: 10px;

}

/* ============================================== Header ============================================== */
header {
    display: flex;
    height: 7vh;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;
}

header a {
    font-size: 1.3rem;
    color:rgba(0,0,0,0.87);
    text-decoration: none;
    text-align: center;
    padding: 10px;
}


header .iniciar-sesion {
    height: 36px;
    background-color: rgb(26, 115, 232);
    color: white;
    font-size: 1.4rem;
    border-radius: 5px;
    width: 120px;;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

header label {
    justify-self: center;
    padding: 10px;
}
header label img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.btn-menu {
    background-image: url('../images/apps.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline:none;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav {
    position: relative;
    background-color: #fefefe;

    
}
.menu {
    display: none;
    width: 1px;
    background-color: #fefefe;      
}

.active {
    display: grid;
}

nav ul li {
    display: grid;
    grid-template-rows: 1fr 20px;
    grid-template-columns: 96px;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
    scroll-snap-align: center;
   
}
nav ul li img {
    width: 46px;
    height: 46px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    text-align: center;
    overflow: hidden;
    width: 100%;

}

/* ============================================== Main ============================================== */
main{
    width: 100%;
    display: grid;
    height: 81vh;
    grid-template-rows: 35% 75px 50px;
    align-items: center;
    justify-items: center;
}
.search{
    display: flex;
    width: 520px;
    justify-items: center;
    align-items: center;
    border: 1px solid #dadce0;
    border-radius: 30px;
    height: 46px;
    box-sizing: content-box;
}

.search span{
    width: 30px;
    padding-left: 10px;
}

.lupita{
    width: 20px;
    height: 20px;

}

.buscador { 
    font-size: 1.6rem;
    padding-left: 10px;
    width: 460px;
    border: none;
    background-color: transparent;
    outline: none;
}

.search a{
    padding-right: 10px;
}
.search-voice {
    background-image: url(../images/voice.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 20px;
}

main figure {
    align-self: flex-end;
    display: flex;
    justify-content: center;
       
}

main figure img {
    width: 30%;
    min-width: 222px;
    max-width: 572px;
    justify-self: center;
}

main div {
    
}

.nav-button{
    display: flex;
    padding-right: 30px;
    
}

.nav-button input{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    width: 160px;
    color: #3c4043;
    height: 36px;
    padding: 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}




/* ============================================== Footer ============================================== */
footer{
    color:rgba(0,0,0,.54);
    display: block;
    background-color: #f2f2f2;
    height: 12vh;
    padding: 15px 30px;
    width: 100%;
}

footer a{
    font-size: 1.1rem;
    color: #70757a;
    text-decoration: none;
    display: block;
    text-align: center;
}


.chile p {
    font-size: 1.2rem;
    text-align: start;
    
}
.chile{
    border-bottom: 1px solid #dadce0;
    width: 100%;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.footer1{
    display: flex;
    padding-top: 10px;
    width: 40%;
}

.footer2{
    width: 20%;
    display: flex;
    padding-top: 10px;
}

/* ============================================== animaciones ============================================== */

.active{
    margin-left: -220px;
    margin-top: 40px;
    position: absolute;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 96px 96px 96px;
    grid-template-rows: 96px 96px 96px;
    grid-auto-columns: 96px 96px 96px;
    grid-auto-rows: 96px 96px 96px;
    justify-items: center;
    position: absolute;
    max-height: 400px;
    border: 1px solid rgba(128, 128, 128,.2);
    border-radius: 5px;
    width: 328px;
    box-sizing: content-box;
    overflow-y: scroll;
    overscroll-behavior: contain;
    scroll-snap-type: y proximity; 
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    padding: 0 0 0 14px;
}

.btn-menu:hover,
    .btn-active{
    background-color: rgba(95,99,104,0.10);
    border-radius: 50%;
}


input:active .buscador{ 
    border: 1px solid red;
}

nav ul li:hover{
    cursor: pointer;
    background-color: rgba(41, 98, 255, .10);
}

footer div a:hover{
    text-decoration: underline;
}

.search:hover, 
.search:focus-within{
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223,225,229,0);
}

.search:{
    
}


.nav-button input:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
    cursor:pointer;
}
/* ============================================== Efectos ============================================== */

@media (min-width: 600px){
  
    .search{
        display: flex;
        width: 520px;
        justify-items: center;
        align-items: center;
    }

    footer a{
        width: 50%;
        display: block;
        font-size: 1.4rem;
        color: #70757a;
        text-decoration: none;
        padding-right: 20px;
    }
    
    .chile p {
        font-size: 1.5rem;
        text-align: start;
        width: 100%;
        display: block;
        
    
}